{% extends '../../components/layout.twig' %}

{% block content %}
	<tr>
		<td>
			<img src="{{ hostOfStatic }}/email/user-assigned-icon.svg" width="32" height="32" hspace="3" style="display: block; vertical-align: middle; margin: 0 auto; margin-top: 23px;">
		</td>
	</tr>
	<tr>
		<td align="center" style="padding-top: 15px; padding-right: 0; padding-left: 0; padding-bottom: 15px;">
			<font color="#dbe6ff" style="font-size: 15px; text-align: center; color: #dbe6ff; letter-spacing: 0.4px;">
				<span style="vertical-align: middle; display: inline-block;">
					{% if whoAssigned.name %}
						{{ whoAssigned.name }}
					{% else %}
						{{ whoAssigned.email }}
					{% endif %}
					assigned you to the issue
				</span>
			</font>
		</td>
	</tr>
	<tr>
		<td style="display: block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; margin-bottom: 60px; border-width: 1px; border-color: #494f5e; border-style: solid; border-radius: 10px;">
			<font color="#dbe6ff" style="font-size: 15px; letter-spacing: 0.4px;">
				<span style="display: block; padding-bottom: 15px;">
					{{ event.payload.title }}
				</span>
			</font>
			<font color="#969FB3" style="font-size: 12px; text-align: center; color: #969FB3; letter-spacing: 0.17px;">
				<span style="vertical-align: middle; display: inline-block; padding-right: 7px;">
					{{ event.totalCount }}
					total
				</span>
				<span style="vertical-align: middle; display: inline-block; padding-right: 7px;">
					{{ repeating }}
					{% if repeating == 1 %}
						day
					{% else %}
						days
					{% endif %}
					repeating
				</span>
				<span style="vertical-align: middle; display: inline-block;">
					{{ event.usersAffected }}
					{% if event.usersAffected  == 1 %}
						user
					{% else %}
						users
					{% endif %}
					affected
				</span>
			</font>
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ host }}/project/{{ project._id }}/event/{{ event._id }}/overview" style="display: block; padding-top: 12px; padding-bottom: 12px; text-align: center; width: 90%; background: #4979e4; color: #dbe6ff; border-width: 0; border-radius: 4px; margin-left: auto; margin-right: auto; margin-bottom: 40px; text-decoration: none;">
				View event
			</a>
		</td>
	</tr>

{% endblock %}
